<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Persona</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/brands.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/regular.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/solid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/svg-with-js.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/v4-shims.css">
</head>

<body>
<img src="../static/images/enersinc.png"
     alt="energias"
     style="width: 100%;
     height: 80%;
     position: absolute;
     z-index: -1;
     opacity: 0.2;
     filter: alpha(opacity=90);">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Editar Persona</h1>
            <form action="{% url 'persona_detail' persona.id %}" method="post" id="form-persona">
                {% csrf_token %}

                <div class="form-group">
                    <label for="tipo_documento">Tipo de documento</label>
                    <select name="tipo_documento" id="tipo_documento" class="form-control">
                        <option value="CC">Cedula de ciudadania</option>
                        <option value="TI">Tarjeta de identidad</option>
                        <option value="CE">Cedula de extranjeria</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="documento">Documento</label>
                    <input type="text" name="documento" id="documento" class="form-control"
                           value="{{ persona.documento }}">
                </div>

                <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input type="text" name="nombres" id="nombres" class="form-control"
                           value="{{ persona.nombres }}">
                </div>

                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" name="apellidos" id="apellidos" class="form-control"
                           value="{{ persona.apellidos }}">
                </div>

                <div class="form-group">
                    <label for="hobbie">Hobbies</label>
                    <input type="text" name="hobbie" id="hobbie" class="form-control"
                           value="{{ persona.hobbie }}">
                </div>

                <div class="form-group">
                    <!-- boton de enviar -->
                    <button type="submit" class="btn btn-primary"
                            onclick="alert ('Se ha editado la persona con exito')">
                        Guardar
                    </button>

                    <!-- boton de cancelar -->
                    <a href="{% url 'persona_list' %}" class="btn btn-danger">Cancelar</a>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>



